/*==================== BASE ====================*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
}

/* ==================== MAIN CSS ==================== */

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f3fbff;
}

.clock {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.container {
    position: relative;
    left: 50%;
    bottom: 90%;
    /* bottom: 50%; */
    transform: translate(-50%, -50%);
}

/* ==================== CLOCK CIRCLES ==================== */
/* ==================== CLOCK INDICATORS ==================== */
/* ==================== CLOCK TIME ==================== */
